@font-face {
    font-family: "Hind-Light";
    src: local(""), url("../fonts/Hind-Light.woff") format("woff"),
        url("../fonts/Hind-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hind-Medium";
    src: local(""), url("../fonts/Hind-Medium.woff") format("woff"),
        url("../fonts/Hind-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local(""), url("../fonts/Inter-Regular.woff") format("woff"),
        url("../fonts/Inter-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mollieglaston";
    src: local(""), url("../fonts/Mollieglaston.woff") format("woff"),
        url("../fonts/Mollieglaston.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins Medium";
    src: local(""), url("../fonts/Poppins-Medium.woff") format("woff"),
        url("../fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins Regular";
    src: local(""), url("../fonts/Poppins-Regular.woff") format("woff"),
        url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins SemiBold";
    src: local(""), url("../fonts/Poppins-SemiBold.woff") format("woff"),
        url("../fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ScotchDeck Bold";
    src: local(""), url("../fonts/ScotchDeck-Bold.woff") format("woff"),
        url("../fonts/ScotchDeck-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ScotchDeck Medium";
    src: local(""), url("../fonts/ScotchDeck-Medium.woff") format("woff"),
        url("../fonts/ScotchDeck-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.ff_hind-light {
    font-family: "Hind-Light", Arial, Georgia, sans-serif;
}

.ff_mollie {
    font-family: "Mollieglaston", Arial, Georgia, sans-serif;
}

.ff_poppins-sbold {
    font-family: "Poppins SemiBold", Arial, Georgia, sans-serif;
}

.ff_scotch-bold {
    font-family: "ScotchDeck Bold", Arial, Georgia, sans-serif;
}